APP_NAME="Aguias do Sul"
APP_ENV=local
APP_KEY=base64:uzP0nXo/V6iL2gn0ni/g1SqS5KvqbAzVctcFZL5YofI=
APP_DEBUG=true
APP_URL=http://localhost:8007

BROADCAST_CONNECTION=soketi
CACHE_STORE=database
DB_CONNECTION=pgsql
DB_HOST=aguias_do_sul_database
DB_PORT=5432
DB_DATABASE=aguias_database
DB_USERNAME=aguias
DB_PASSWORD=a2014

FILESYSTEM_DISK=local
LOG_CHANNEL=stack
LOG_LEVEL=debug
QUEUE_CONNECTION=database
SESSION_DRIVER=database
SESSION_LIFETIME=120

PUSHER_HOST=aguias_websocket
PUSHER_PORT=6001
PUSHER_APP_ID="1959516"
PUSHER_APP_KEY="1a9290e08c846835e39e"
PUSHER_APP_SECRET="f9cfd16c3601b79871d1"
PUSHER_APP_CLUSTER="mt1"

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
VITE_PUSHER_HOST=127.0.0.1
VITE_PUSHER_PORT=6001
VITE_PUSHER_SCHEME=mt1
VITE_APP_NAME="${APP_NAME}"
